extends base

block content
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css")
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js')
    script(src='scripts/best-ideas-controller.js')

    div(ng-controller="BestIdeasCtrl")

        label Number of ideas: 
        input(type="text", placeholder="Enter a number", required, ng-model="num")
        br

        label Starting Date
        div.datepicker.input-group.input-append.date
            input.form-control(name="date" type="text" ng-model="startdate")
            span.input-group-addon.add-on.glyphicon.glyphicon-calendar

        label Ending Date
        div.datepicker.input-group.input-append.date
            input.form-control(name="date" type="text" ng-model="enddate")
            span.input-group-addon.add-on.glyphicon.glyphicon-calendar

        p {{startdate}}
        p {{enddate}}
        p {{errmsg}}

        button.btn.btn-primary(ng-click="findIdeas()") Find Ideas
        
        p Showing {{ filteredIdeas.length }} results
        table.table.table-bordered
            tr
                th Title
                th Industry
                th Author
                th Date Posted
                th Overall Preference

            tr(ng-repeat="idea in filteredIdeas = (ideas | orderBy:'preference':true | limitTo: lim)")
                td
                    a(href='/idea={{ idea._id }}') {{ idea.title }}
                td {{ idea.industry }}
                td {{ idea.poster }}
                td {{ idea.posted }}
                td {{ idea.preference }}

        script
            $(function() {$('.datepicker').datepicker({ format: 'yyyy-mm-dd' }); })
