extends layout

block content
    script(src='scripts/Chart.min.js')
    script(src='scripts/angular-chart.js')
    script(src='scripts/graph-controller.js')

    div(ng-controller="GraphCtrl")
        h2 Distribution of Ideas by Industry

        canvas(id="bar" class="chart chart-bar" data="data" labels="labels")





