extends base

block content
    script(src='scripts/Chart.min.js')
    script(src='scripts/angular-chart.js')

    script(src='scripts/home-controller.js')
    script(src='scripts/table-controller.js')
    script(src='scripts/graph-controller.js')

    div.col-md-8.center(ng-controller="HomeCtrl")
        h4 Name: {{ user.name }}
        h4 Email: {{ user.email }}
        h4 password: {{ user.password }}

        a(href='/best-ideas') See best ideas

        div.row
            div.table
                div.table-cell.col-md-6
                    button.btn.btn-primary(ng-click="open()") Propose New Idea
                    br
                    br
                    span.h5 Select Ideas To View:  
                    select(ng-model="viewOption", ng-options="i for i in viewOptions", ng-change="showGraph()")

                div.table-cell.col-md-6(ng-show="viewOption!='Graph'")
                    br
                    span.h5 View by Industry:  
                    select(ng-model="industryOption", ng-options="i for i in industryOptions")
                    br
                    br
                    span.h5 Search by Keyword:  
                    input(ng-model="keywordSearch")

        hr

        div.row(ng-controller="TableCtrl" ng-show="viewOption!='Graph'") 
            p Showing {{ filteredIdeas.length }} results
            table.table.table-bordered
                tr
                    th 
                        a(ng-click="changeSort('title')") Title
                    th
                        a(ng-click="changeSort('industry')") Industry
                    th 
                        a(ng-click="changeSort('poster')") Author
                    th 
                        a(ng-click="changeSort('posted')") Date Posted
                    th 
                        a(ng-click="changeSort('likes')") Likes
                    th 
                        a(ng-click="changeSort('dislikes')") Dislikes

                tr(ng-repeat="idea in filteredIdeas = ($parent.ideas | orderBy:orderByField:sortReverse | filter: myFilter)")
                    td
                        a(href='/idea={{ idea._id }}') {{ idea.title }}
                    td {{ idea.industry }}
                    td {{ idea.poster }}
                    td {{ idea.posted }}
                    td {{ idea.likes }}
                    td {{ idea.dislikes }}

        div(ng-controller="GraphCtrl" ng-show="viewOption=='Graph'")
            h2 Distribution of Ideas by Industry
            canvas(id="bar" class="chart chart-bar" data="data" labels="labels")

    p
        a(href='/signout') Sign Out
        