extends layout

block content
    ul
        li Username: #{user.username}
        li Email: #{user.email}
        li Password: #{user.password}
    p
        a(href='/new-idea') Propose a new idea

    p
        a(href='/signout') Sign Out

        