extends layout

block content
    ul
        li Username: #{user.name}
        li Email: #{user.email}
        li Password: #{user.password}

    div(ng-controller="HomeCtrl")        
        h4 My Ideas
        ul(ng-repeat="idea in ideas | orderBy: 'title'")
            li 
                a(href='/idea={{ idea._id }}') {{ idea.title }}, {{ idea.description }}, {{ idea.industry }}

        button.btn.btn-primary(ng-click="open()") Propose a new idea

    p
        a(href='/all') View all ideas
    p
        a(href='/signout') Sign Out

        