extends layout

block content
    div(ng-controller="IdeaCtrl")
        h4 {{ idea.title }}
        p {{ idea.poster }}
        br
        p(style="white-space: pre-wrap") {{ idea.description }}
        br
        p {{ idea.industry }}
        p {{ preference }}
    
        div(ng-if="user.username == idea.poster")
            button.btn.btn-primary(ng-click="open()") Update Idea
            button.btn.btn-primary(ng-click="delete()") Delete Idea

        div(ng-if="user.username != idea.poster")
            div(ng-if="give_preference")
                button.btn.btn-primary(ng-click="like()") Like
                button.btn.btn-primary(ng-click="dislike()") Dislike

            div(ng-if="!(give_preference)")
                p {{ pref_msg }}

        p
            a(href='/signout') Sign Out

        