extends layout

block content
    script(src="scripts/idea-controller.js")

    div(ng-controller="IdeaCtrl")
        h4 {{ idea.title }}
        p {{ idea.poster }} - {{ idea.email }}
        br
        p(style="white-space: pre-wrap") {{ idea.description }}
        br
        p {{ idea.industry }}
        p {{ idea.keywords }}
        p {{ idea.posted }}
        p Likes: {{ idea.likes }} Dislikes: {{ idea.dislikes }}
        p Overall: {{ idea.likes - idea.dislikes }}
    
        button.btn.btn-primary(ng-click="open()" ng-show="user.email==idea.email") Update Idea
        button.btn.btn-primary(ng-click="delete()" ng-show="user.email==idea.email") Delete Idea

        div(ng-show="user.email != idea.email")
            button.btn.btn-primary(ng-click="like()" ng-show="!gave_preference") Like
            button.btn.btn-primary(ng-click="dislike()" ng-show="!gave_preference") Dislike

            p(ng-show="gave_preference") {{ pref_msg }}

        p
            a(href='/signout') Sign Out

        