extends layout

block content
    div(ng-controller="IdeaCtrl")
        h4 {{ idea.title }}
        p {{ idea.poster }}
        br
        p(style="white-space: pre-wrap") {{ idea.description }}
        br
        p {{ idea.industry }}
        p {{ preference }}
    
        button.btn.btn-primary(ng-click="open()" ng-show="user.username==idea.poster") Update Idea
        button.btn.btn-primary(ng-click="delete()" ng-show="user.username==idea.poster") Delete Idea

        div(ng-show="user.username != idea.poster")
            button.btn.btn-primary(ng-click="like()" ng-show="give_preference") Like
            button.btn.btn-primary(ng-click="dislike()" ng-show="give_preference") Dislike

            p(ng-show="!(give_preference)") {{ pref_msg }}

        p
            a(href='/signout') Sign Out

        