extends layout

block content
    div(ng-controller="ListCtrl")

        h4 All Ideas

        table.table.table-bordered
            tr
                th Title
                th Author
                th Date Posted
                th Likes
                th Dislikes
            tr(ng-repeat="idea in ideas")
                td
                    a(href='/idea={{ idea._id }}') {{ idea.title }}
                td {{ idea.poster }}
                td {{ idea.posted }}
                td {{ idea.likes }}
                td {{ idea.dislikes }}
                
        p
            a(href='/new-idea') Propose a new idea

        p
            a(href='/signout') Sign Out

        