extends layout

block content
    script(src='scripts/home-controller.js')

    div(ng-controller="ListCtrl")
        h4 Name: {{ user.name }}
        h4 Email: {{ user.email }}
        h4 password: {{ user.password }}

        h4 All Ideas

        p Ordered by : {{ orderByField }}
        p Reversed : {{ sortReverse }}

        label Select Ideas to View: 
        select(ng-model="viewOption", ng-options="i for i in viewOptions")

        br
        a(href="/graph") View graph
        br

        button.btn.btn-primary(ng-click="open()") Propose a new idea
        br
        label Filter by Industry: 
        select(ng-model="industryOption", ng-options="i for i in industryOptions")

        br

        label Search by keyword: 
        input(ng-model="keywordSearch")

        table.table.table-bordered
            tr
                th 
                    a(ng-click="changeSort('title')") Title
                th
                    a(ng-click="changeSort('industry')") Industry
                th 
                    a(ng-click="changeSort('poster')") Author
                th 
                    a(ng-click="changeSort('posted')") Date Posted
                th 
                    a(ng-click="changeSort('likes')") Likes
                th 
                    a(ng-click="changeSort('dislikes')") Dislikes

            tr(ng-repeat="idea in ideas | orderBy:orderByField:sortReverse | filter: myFilter")
                td
                    a(href='/idea={{ idea._id }}') {{ idea.title }}
                td {{ idea.industry }}
                td {{ idea.poster }}
                td {{ idea.posted }}
                td {{ idea.likes }}
                td {{ idea.dislikes }}
    p
        a(href='/signout') Sign Out
        