extends layout

block content
    div.col-md-4.center
        form.form-signin(action="/login", method="POST")
            center
                h2.form-signin-heading.center Log In
            input.form-control(type="email" name="username" placeholder="Email address", required, autofocus)
            input.form-control(type="password" name="password" placeholder="Password", required)
            br
            button.btn-primary.btn-lg.btn-block(type="submit") Log In

        div
            center
                a(href='/signup', class='text-center new-account') Create an account

        div.row
            if message
                center 
                    span.h4 #{message}
