doctype html
html(ng-app="startUp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
    script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='scripts/startup.js')
  body
    block content

    <!-- Modal to enter details about an idea -->
    script(type="text/ng-template" id="idea-modal.jade")
        div.modal-header
            h3 Start-Up Idea
       
        div.modal-body
            label Title
            input(type="text", placeholder="Title", required, autofocus, ng-model="title")
            br
            p Description   
            textarea(cols="40" rows="5", placeholder="Description", required, ng-model="description")
            br
            label Industry
            select(ng-model="industry" ng-options="i for i in industries")

        div.modal-footer
            button.btn.btn-warning(ng-click="cancel()") Cancel
            button.btn.btn-primary(ng-click="submit()") Submit

        p {{ errmsg }}