div.modal-header
    h3 Propose New Idea

    form(ng-submit="newIdea()")
        div.modal-body
            label Title
            input(type="text" name="title" placeholder="Title", required, value=title)
            br
            p Description
            textarea(cols="40" rows="5" name="description" placeholder="Description", required) #{description}
            br
            label Industry
            select(name="industry")
                option(value="Health") Health
                option(value="Technology") Technology
        div.modal-footer
            button.btn.btn-warning(ng-click="cancel()") Cancel
            input.btn.btn-primary(type="submit" value="Submit")

    if message
        p #{message}