extends layout

block content
    h1 New Start-up idea

    form(action="/new-idea", method="POST" id="idea")
        div
            p Title
            input(type="text" name="title" placeholder="Title", required, autofocus)
        div
            p Description
            input(type="text" name="description" placeholder="Description", required)
        div
            p Industry
            select(name="industry")
                option(value="Health") Health
                option(value="Technology") Technology
                option(value="Education") Education
                option(value="Finance") Finance
                option(value="Travel") Travel
        div
            input(type="submit" value="Submit")


        if message
            p #{message}

