extends layout

block content
    h1 Sign Up

    form(action="/signup", method="POST")
        div
            p Username  (8-16 alphanumeric characters)
            input(type="text" name="username" placeholder="Username", required, autofocus)
        div
            p Email
            input(type="text" name="email" placeholder="Email", required)
        div
            p Password
            input(type="password" name="password" placeholder="Password", required)
        div
            p Password (again)
            input(type="password" name="psagain" placeholder="Password", required)
        div
            input(type="submit" value="Submit")

        #message
        if message
            p #{message}

