extends layout

block content
    h1 Sign Up

    form(action="/signup", method="POST")
        div
            label Name
            input(type="text" name="name" placeholder="Name", required, autofocus)
        div
            label Email
            input(type="text" name="username" placeholder="Email", required)
        div
            label Password
            input(type="password" name="password" placeholder="Password", required)
        div
            label Password (again)
            input(type="password" name="psagain" placeholder="Password", required)
        div
            input(type="submit" value="Submit")

        #message
        if message
            p #{message}

